.experience{
    padding: 120px 100px 10px 100px;
}
.experience .header{
    font-size: 24px;
    display: flex;
    gap: 20px;
    position: absolute;
    right: 8rem;
}
.experience .header hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: auto 0px;
    margin-left: 20px;
    width: 20em;
}

.experience .contain{
    padding-top: 6rem;
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.experience .contain .img img{
    height: 20rem;
}
.experience .contain .desc{
    display: flex;
    gap: 20px;
}
.experience .contain .desc .navex{
    display: block;
    width: 8rem;
}
.experience .contain .desc .navex a{
    display: block;
    text-decoration: none;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
    height: 2rem;
    padding: 8px; 
    width: 8rem;
    text-align: center;
    background-color: rgba(15, 34, 63, 0.9);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.experience .contain .desc .content {
    margin-top: 10px;
    max-width: 25rem;
    height: 10rem;
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
 
}
.isi {
    font-size: 14px;
    padding: 0px 10px;
    direction:ltr;
    display: none; 
}
.active-content{
    display: block;
}
.active-nav{
    border: 1px solid #64FFDA;
    color: #64FFDA;
}
.flipped{
    direction: rtl;
}

.experience .contain .desc .content .head{
    display: block;
    
}
.experience .contain .desc .content .work{
    padding-bottom: 20px;
    
}
.experience .contain .desc .content .head .tahun{
    padding-top:5px ;
    font-size: 12px;
    font-style: italic;
}
.experience .contain .desc .content .body{
    padding-top: 15px;
    text-align: justify;
    line-height: 27px;
}
.experience .contain .desc .content .body ul{
    padding-left: 20px;
}
@media (max-width: 600px){
    .experience{
        padding: 100px 40px 40px 40px;
    }
    .experience .header{
        font-size: 20px;
        justify-content: right;
        position: absolute;
        right: 40px;
    }
    .experience .header hr{
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: auto 0px;
        width: 8em;
    }
    .experience .contain{
        display: block;
        padding-top: 4rem;
        height: 30rem;
    }
    .experience .contain .img img{
       display: none;
    }
    .experience .contain .desc{
        display: block;
        margin-top: 10px;
    }
   
    .experience .contain .desc .navex{
        display: flex;
        gap: 10px;
        width: auto;
    }
    .experience .contain .desc .content{
        margin-top: 4rem;
        height: 20rem;
    }


}